dist
node_modules
.output
.nuxt
.storybook
storybook-static
.github
coverage
*.log
nuxt.d.ts
.output
.DS_Store
.vscode
.md
babel.config.js
graphql
generated
src-tauri
auto-imports.d.ts
components.d.ts
dist