@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  ul, li {
    list-style: none;
  }

  .rubik_font {
    font-family: "Rubik Moonrocks", sans-serif;
    font-weight: 400;
    font-style: normal;
  }


}

@layer utilities {
  .masonry {
    column-gap: 1em;
    column-count: 1;
  }
  .masonry-sm {
    column-gap: 1em;
    column-count: 2;
  }
  .masonry-md {
    column-gap: 1em;
    column-count: 3;
  }
  .break-inside {
    break-inside: avoid;
  }
}