@tailwind base;
@tailwind components;
@tailwind utilities;

ul, li {
  list-style: none;
}

@layer utilities {
  .masonry {
    column-gap: 1em;
    column-count: 1;
  }
  .masonry-sm {
    column-gap: 1em;
    column-count: 2;
  }
  .masonry-md {
    column-gap: 1em;
    column-count: 3;
  }
  .break-inside {
    break-inside: avoid;
  }
}